#cloud-config
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: false
    passwd: "\$6\$rounds=4096\$saltsaltsaltsalt\$8Dba93oEaZ16P0z3P8b4S0Ua697l0K3n.WqKqO6/Zq8I.8R/yL0bI1s1K1G1r3m3X9u3E4wEa6P8.T/4q9X6s." # password is 'ubuntu'
    ssh_authorized_keys:
      - ${SSH_KEY}

chpasswd:
  list: |
    ubuntu:ubuntu
  expire: false

package_update: true
package_upgrade: true

packages:
  - ubuntu-desktop-minimal
  - curl
  - git
  - vim
  - htop
  - qemu-guest-agent
  - iproute2

write_files:
  - path: /etc/gdm3/custom.conf
    owner: root:root
    permissions: '0644'
    content: |
      [daemon]
      AutomaticLoginEnable=true
      AutomaticLogin=ubuntu

runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start qemu-guest-agent
  - systemctl enable gdm3
  - echo "VM Desktop Base Template Ready" > /etc/motd
